.partners1 {
	background-color: rgb(240, 240, 240);
	display: flex;
	margin:0 auto;
	div {
		margin:0 auto;
		img {
			width: 100%;
			max-width: 130px;
			height: auto;
			padding:20px;
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.partners1 {
	text-align: center;

}
}