// vars
$p: rem(8px 20px);
$fw: 700;
$b-rad: 6px;
$fs: ms(0);
$lh: 1.6;
$ico-dim: rem(32px);

// mixins
@mixin button-style($c, $c-hover, $bg, $bg-hover, $border, $border-hover) {
  color: $c;
  background: $bg;
  border-color: $border;

  svg {
    fill: $c;
  }

  @include on-event() {
    color: $c-hover;
    background: $bg-hover;
    border-color: $border-hover;

    svg {
      fill: $c-hover;
    }
  };
}

// structure
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $p;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  text-decoration: none;
  border-radius: $b-rad;
  outline: none;
  border: 2px solid;
  cursor: pointer;
  transition: all $tt;
  width: 100%;

  svg {
    width: $ico-dim;
    height: $ico-dim;
    transition: all $tt;
  }

  @include media('>=sm') {
    width: rem(280px);
  };

  &--white {
    @include button-style(black, white, white, black, white, black);
  }

  &--blue {
    @include button-style(white, get-color(primary, 0), get-color(primary, 0), white, get-color(primary, 0), get-color(primary, 0));
  }
}