/* SLIDER */
.slider {
	label {
		font-size: 2rem;
	}
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 100%;
	margin: 0 auto;
	a {
		text-decoration-line: underline;
		font-style: italic;
		font-size: 1.5rem;
	}
	.slider__slide--3__containerspan {
margin-top: 120px;

	}
	.slider__slide--3__spantitle{
		font-family: $title-font-family;
		font-size: calc(7rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
		color: #d6d4cb;
	}
		span {
			display: flex;
			justify-content: center;
			font-size: calc(2rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
			font-family: $alt-font-family;
			color: white;
			 text-shadow: 0 0 2px rgb(129, 129, 129), 0 0 4px rgb(202, 202, 202);
		}
	}

  .slider:hover .slider__radiobox-label--prev,
  .slider:hover .slider__radiobox-label--next {
	opacity: 1;
  }
  .slider:hover .slider__radiobox-label--prev {
	left: 6%;
  }
  .slider:hover .slider__radiobox-label--next {
	right: 6%;
  }
  
  .slider--full {
	width: 100vw;
	height: 82vh;
  }
  
  .slider--fixed {
	width: 600px;
	height: 400px;
  }
  
  .slider--proportional {
	width: 960px;
	height: auto;
  }
  
  .slider__inner {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: #ddd;
  }
  .slider--full .slider__inner {
	max-width: 100%;
	height: 100%;

  }
  .slider--fixed .slider__inner {
	width: 100%;
	height: 100%;
  }
  .slider--proportional .slider__inner {
	width: 100%;
	height: 0;
  }
  .slider--proportional--4x3 .slider__inner {
	padding-top: 75%;
  }
  .slider--proportional--5x4 .slider__inner {
	padding-top: 80%;
  }
  .slider--proportional--16x9 .slider__inner {
	padding-top: 56.25%;
  }
  
  .slider__slides {
		label {
			text-decoration-line: underline;
			font-style: italic;
		}
		text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 400%;
	height: 100%;
	overflow-y: hidden;
	transition: margin-left 0.4s;
  }
  
  .slider__slide {
	display: block;
	float: left;
	position: relative;
	width: 25%;
	height: 100%;
	/** background-image method */
	background: no-repeat 50% 50%;
	background-size: cover;
	/** inline image method */
  }
  
  .slider__radiobox-label {
	display: block;
	position: absolute;
	z-index: 2;
	cursor: pointer;
  }
  .slider__radiobox-label--item {
	bottom: 6%;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	padding: 6px;
	border-radius: 50%;
	background: black;
	opacity: 0.3;
	transition: opacity 0.2s;
  }
  .slider__radiobox-label--item:hover {
	opacity: 0.5;
  }
  .slider__radiobox-label--item--1 {
	margin-left: -36px;
  }
  .slider__radiobox-label--item--2 {
	margin-left: -12px;
  }
  .slider__radiobox-label--item--3 {
	margin-left: 12px;
  }
  .slider__radiobox-label--item--4 {
	margin-left: 36px;
  }
  .slider__radiobox-label--prev, .slider__radiobox-label--next {
	display: none;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	height: 0;
	border: 10px solid black;
	border-top-color: transparent;
	border-bottom-color: transparent;
	opacity: 0;
	transition: left 0.2s, right 0.2s, opacity 0.2s;
  }
  .slider__radiobox-label--prev {
	left: -6%;
	border-left: 0;
	border-right-width: 17px;
  }
  .slider__radiobox-label--next {
	right: -6%;
	border-right: 0;
	border-left-width: 17px;
  }
  
  .slider__radiobox {
	display: none;
  }
  .slider__radiobox--1:checked ~ .slider__slides {
	margin-left: 0;
  }
  .slider__radiobox--2:checked ~ .slider__slides {
	margin-left: -100%;
  }
  .slider__radiobox--3:checked ~ .slider__slides {
	margin-left: -200%;
  }
  .slider__radiobox--4:checked ~ .slider__slides {
	margin-left: -300%;
  }
  .slider__radiobox--1:checked + .slider__radiobox-label--item--1, .slider__radiobox--2:checked + .slider__radiobox-label--item--2, .slider__radiobox--3:checked + .slider__radiobox-label--item--3, .slider__radiobox--4:checked + .slider__radiobox-label--item--4 {
	opacity: 1;
	background-color: #e8950c;
  }
  .slider__radiobox--1:checked ~ .slider__radiobox-label--prev--4, .slider__radiobox--1:checked ~ .slider__radiobox-label--next--2, .slider__radiobox--2:checked ~ .slider__radiobox-label--prev--1, .slider__radiobox--2:checked ~ .slider__radiobox-label--next--3, .slider__radiobox--3:checked ~ .slider__radiobox-label--prev--2, .slider__radiobox--3:checked ~ .slider__radiobox-label--next--4, .slider__radiobox--4:checked ~ .slider__radiobox-label--prev--3, .slider__radiobox--4:checked ~ .slider__radiobox-label--next--1 {
	display: block;
  }
  #container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
}

.box {
    width: 300px;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}
	

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.slider {
span {
	margin-left:0.5rem;
	margin-right:0.5rem;
}
}
}